
body{padding-top:70px;}

img{padding:10px;}

#defaultbodycolor{
background-color: skyblue;
}



/*
-----------------------------------------------
loginform
------------------------------------------------
*/

#loginform{
text-align:center;
}



/*
-----------------------------------------------
footer
------------------------------------------------
*/

#defaultfoot{
text-align:center;
background-color:white;
}